html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  margin: 0;
  font-family: 'Inconsolata', monospace;
  overflow-x: hidden;
  line-height: 1.4em;
  width: 100%;
}

h1{
  text-align: center;
}

p{
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
}
h3{
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
/*    HEADER    */
.logo{
  right: 0;
  z-index: 1;
  height: 25%;
  width: 170px;
  position: fixed;
  display: block;
  margin-top: 8%;
}

.logo img{
  height: 80%;
  width: 170px;
}

  /*  NAVBAR  */
  sidenav{
    height: 25%;
    width: 170px;
    position: fixed;
    padding-top: 25px;
    margin-top: 35vh;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    box-shadow: 1px 10px 10px 2px #808080;
    z-index: 1;
  }

  sidenav a{
    padding: 10px 10px 10px 1px;
    padding-right: 25%;
    text-decoration: none;
    font-size: 25px;
    color:  #ea5c71;
    display: block;
  }
  ul, li, a{
    text-decoration: none;
    list-style: none;
  }

  sidenav a:hover {
    color: #fff;
    text-decoration: none;
  }


/*  HOMEPAGE  */
.container .main{
  max-width: 100%;
  background-color: #ea5c71;
}

.main{
    margin-top: -5%;
    max-width: 100%;
}
/* MAIN SLIDESHOW  */
#slideshow{
  overflow: hidden;
  z-index: -1;
}

#slideshow figure{
  position: relative;
  width: 500%;
  margin-left: 0;
  left: 0;
  animation: 20s slider infinite;
  max-height: 100vh,
}

#slideshow img{
  width: 20%;
  float: left;
}

@keyframes slider{
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}


/*  MORNING */
.morning{
    padding-top: 5%;
    margin-right: 10%;
    max-width: 100%;
    /*height: 100vh;*/
}
.container.morning{
  max-width: 100%;
  /*height: 100vh;*/
  margin-top: 6%;
}

/*  AFTERNOON  */
.afternoon{
    padding-top: 5%;
    margin-right: 10%;
    max-width: 100%;
  /*  height: 100vh;*/
}
.container.afternoon{
  max-width: 100%;
  /*height: 100vh;*/
}

/*  NIGHT */
.night{
    padding-top: 5%;
    margin-right: 10%;
    max-width: 100%;
    height: 100vh;
}
.container.night{
  max-width: 100%;
  height: 100vh;
}

/*  VIDEO-SLIDER */
.box{
  display: flex;
  padding: 0vh 5vh 0vh 10vh;
}
.leftbox{
  width: 50vw;
  justify-content: center;
  align-items: center;
}
.leftbox p{
    padding-left: 11%;
}
.rightbox{
  width: 50vw;
  justify-content: center;
  align-items: center;
  height: auto;
}
.rightbox p{
  font-size: 40px;
}
.slider {
    width: 700px;
    height: 400px;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    margin-left: inherit;
    padding-bottom: 30px;

}


input[name="video"]{
    position: absolute;
    visibility: hidden;
}

.videos{
    width: 500%;
    height: 100%;
    display: flex;
    position: sticky;
    border: 3px solid black;
    box-shadow: 10px 10px 3px 3px #808080;
}

.videos input{
  display: none;
}

.video{
    width: 20%;
    transition: 0.6s;
}
.video iframe{
    width: 100%;
    height: 100%;
    transition: all 2s ease;
    margin: inherit;
}


.dots{
    display: flex;
    position: sticky;
    margin: 10px 100px 10px 0px;
    justify-content: center;
}

.dots label{
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.dots label:hover{
  background-color: #000;
}

.scrolldots{
    width: 5%;
    height: 2%;
    border: 10% solid #fff;
    margin: 6%;
    cursor: pointer;
    transition: 0.4s;
 }


/*slide*/
#vid1:checked ~ .s1{
    margin-left: 0;
}
#vid2:checked ~ .s1{
    margin-left: -20%;
}
#vid3:checked ~ .s1{
    margin-left: -40%;
}
#vid4:checked ~ .s1{
    margin-left: -60%;
}
#vid5:checked ~.s5{
  margin-left: 0%;
}
#vid6:checked ~.s5{
  margin-left: -20%;
}
#vid7:checked ~.s5{
  margin-left: -40%;
}
#vid8:checked ~.s5{
  margin-left: -60%;
}
/*slide3*/
#vid9:checked ~.s9{
  margin-left: 0%;
}
#vid10:checked ~.s9{
  margin-left: -20%;
}
#vid11:checked ~.s9{
  margin-left: -40%;
}
#vid12:checked ~.s9{
  margin-left: -60%;
}

/*  FOOTER  */
footer{
    background: #333;
    color: #fff;
    text-align: center;
    justify-content:center;
    align-items: center;
    padding: 10px 0vw 10px 0vw;
    margin-top: 20px;
}
footer p{
  text-align: center;
}
